* {
  outline: none;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.result {
  cursor: text;
  word-wrap: break-word;
}

.primary {
  color: #337AB7;
}

.danger {
  color: #D9534F;
}

.success {
  color: #5CB85C;
}

.warning {
  color: #F0AD4E;
}

.info {
  color: #5BC0DE;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
}

/*Pool*/

#pool {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 250px;
  height: 505px;
}

#pool .box {
  background: #dedede;
  border: #555 5px solid;
  border-top: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.pline {
  background:#555;
  width: calc(100% + 85px);
  height: 1px;
  position: absolute;
  bottom: -5px;
  left: -30px;
}

#pool #water {
  cursor: none;
  position: absolute;
  background: #2196F3;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#pool {
  cursor: pointer;
}

#pool:active {
  cursor: n-resize;
}

#wl {
  pointer-events: none;
  position: relative;
  left: -60px;
  display: block;
  width: 50px;
  padding: 5px;
  background: #FF9800;
  font-size: 12px;
  color: #efefef;
  border-radius: 3px 0 3px 3px;
}

#wl::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-top: 5px #FF9800 solid;
  border-left: 5px #FF9800 solid;
  border-bottom: 5px transparent solid;
  border-right: 5px transparent solid;
}

#fish {
  pointer-events: none;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 25px;
  line-height: 25px;
}

#fish.right {
  transform: scaleX(-1);
}

.food {
  background: url(/images/bubble.png) no-repeat center;
  background-size: 100%;
  border-radius: 50%;
  padding: 2px;
  pointer-events: none;
  position: absolute;
}

#gamePointLabel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #3274a9;
  font-size: 11px;
  font-weight: bold;
}

/*Pipe*/
#pipe {
  transition: right .7s ease-in-out;
  pointer-events: none;
  position: fixed;
  height:20px;
  width: 500px;
  top: 70px;
  right: 250px;
}

#pipe .box {
  background: #2196F3;
  border: #666 5px solid;
  border-left: none;
  border-right: none;
}

#pipe .source {
  background: #2196F3;
  width: 70px;
  height: 75px;
  position: absolute;
  left: 20px;
  bottom: 100%;
  border: #666 5px solid;
  border-top: none;
  border-bottom: none;
}

#valve {
  position: absolute;
  background: #FF5722;
  width: 60px;
  height: 60px;
  top: -25px;
  right: 100px;
}

#spin {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*valve o0*/
#valve.o0:after {
  content: "";
  background: #fff;
  position: absolute;
  height: 10px;
  width: 100px;
  left: 100%;
  top: 25px;
}

#spin {
  position: absolute;
  top: 0;
  left: 0;
}

#vl {
  position: relative;
  top: calc(100% + 13px);
  display: block;
  text-align: center;
  left: -40px;
  padding: 5px;
  background: #FF9800;
  font-size: 12px;
  color: #efefef;
  border-radius: 3px 0 3px 3px;
}

#vl::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-top: 0;
  border-top: 5px transparent solid;
  border-left: 5px transparent solid;
  border-bottom: 5px #FF9800 solid;
  border-right: 5px #FF9800 solid;
}

#valve.o0 > #spin {
  background-image: url(/images/spin.png)
}

#valve.o0 + #blobBox > .blob-d,
#valve.o0 + #blobBox > .blob-d1,
#valve.o0 + #blobBox > .blob-d2,
#valve.o0 + #blobBox > .blob-d3,
#valve.o0 + #blobBox > .blob-d4,
#valve.o0 + #blobBox > .blob-d5,
#valve.o0 + #blobBox > .blob-d6 {
  display: none;
}

/*valve o1*/
#valve.o1:after {
  content: "";
  background: none;
  position: absolute;
  height: 10px;
  width: 100px;
  left: 100%;
  top: 25px;
}

#valve.o1 > #spin {
  background-image: url(/images/spin1.gif)
}


#valve.o1 + #blobBox > .blob-d2,
#valve.o1 + #blobBox > .blob-d3,
#valve.o1 + #blobBox > .blob-d4,
#valve.o1 + #blobBox > .blob-d5,
#valve.o1 + #blobBox > .blob-d6 {
  display: none;
}

/*valve o2*/
#valve.o2:after {
  content: "";
  background: none;
  position: absolute;
  height: 10px;
  width: 100px;
  left: 100%;
  top: 25px;
}

#valve.o2 > #spin {
  background-image: url(/images/spin2.gif)
}

#valve.o2 + #blobBox > .blob-d4,
#valve.o2 + #blobBox > .blob-d5,
#valve.o2 + #blobBox > .blob-d6 {
  display: none;
}

/*valve o3*/
#valve.o3:after {
  content: "";
  background: none;
  position: absolute;
  height: 10px;
  width: 100px;
  left: 100%;
  top: 25px;
}

#valve.o3 > #spin {
  background-image: url(/images/spin3.gif)
}

#blobBox {
  position: absolute;
  top: 0;
  right: 0;
}

.blob {
  position: absolute;
  background: #2196F3;
  width: 10px;
  height: 10px;
  right: 0;
  border-radius: 50%;
  animation: drop 2s linear 0s infinite;
}

.blob-d {
  animation: drop 1.5s linear .0s infinite;
}

.blob-d1 {
  animation: drop1 1.25s linear .25s infinite;
}

.blob-d2 {
  animation: drop2 1s linear .57s infinite;
}

.blob-d3 {
  animation: drop3 .5s linear .87s infinite;
}

.blob-d4 {
  animation: drop .85s linear .83s infinite;
}

.blob-d5 {
  animation: drop1 1.1s linear 1.22s infinite;
}

.blob-d6 {
  animation: drop2 1.6s linear 1.75s infinite;
}

/*Thermometer*/
#ther {
  position: fixed;
  width: 300px;
  top: 30px;
  left: 50px;
}

#cloud {
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 15px;
}

#sun {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
}

#sun.spin {
  animation: suns 3s infinite linear;
}

#tL {
  margin-left: 75px;
  margin-top: 35px;
}

#ther .box {
  padding: 10px;
  background: #607D8B;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#ther span {
  color: #fff;
  font-size: 18px;
}

#range {
  margin: 50px 0 10px 0;
  width: 100%;
}

#range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 20px;
  background: #ff9800;
  cursor: pointer;
}

/*Dia*/
#dia {
  position: fixed;
  top: 200px;
  left: 50px;
  height: 169px;
  width: 950px;
}

#dia .box {
  background-image: url(/images/dia.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.pointer {
  background: red;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 137px;
}

#pp {
  left: 136px;
}

#pt {
  left: 463px;
}

.label {
  position: absolute;
  bottom: -20px;
}

#lp {
  left: 45px;
}

#lt {
  left: 355px;
}

#lv {
  left: 670px;
}

/*Log*/

#log {
  font-family: monospace;
  font-size: 13px;
  position: fixed;
  top: 410px;
  left: 50px;
  width: 950px;
  height: 212px;
}

#log .box {
  background: #102931;
  padding: 5px 5px 5px 10px;
}

#log #lcontent {
  color: #dfdfdf;
  height: 100%;
  overflow-y: auto;
}

#log span.prompt {
  color: rgba(244, 67, 54, 0.74);
  margin-right: 3px;
}

.lline {
  background: #102931;
  width: calc(100% + 60px);
  height: 1px;
  position: absolute;
  top: 0;
  left: -50px;
}

#log #lcontent::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#log #lcontent::-webkit-scrollbar
{
  width: 9px;
  background-color: #F5F5F5;
}

#log #lcontent::-webkit-scrollbar-thumb
{
  background-color: #555;
}

/*Gear*/

#toggle {
  width: 140px;
  height: 140px;
  position: fixed;
  right: 500px;
  top: -75px;
}

#tGear {
  cursor: pointer;
  transform: translate(-27px, -27px) scale(.7) translate(27px, 27px);
}

#tGear > div {
  transform-origin: 100px 100px;
  animation: none !important;
  position: relative;
  transition: transform 1s ease-in-out;
  transform: rotate(0deg);
}

.lds-gear {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 54px !important;
  height: 54px !important;
  transform: translate(-27px, -27px) scale(0.27) translate(27px, 27px);
}

.lds-gear > div {
  transform-origin: 100px 100px;
  animation: lds-gear 2.5s infinite linear;
  position: relative;
}

.lds-gear > div div {
  position: absolute;
  width: 36px;
  height: 188px;
  background: #1d0e0b;
  left: 100px;
  top: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lds-gear > div div:nth-child(1) {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.lds-gear > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.lds-gear > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}

.lds-gear > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}

.lds-gear > div div:nth-child(6) {
  width: 72px;
  height: 72px;
  background: #2196f3;
  border-radius: 50%;
}

#tGear.lds-gear > div div:nth-child(6) {
  width: 72px;
  height: 72px;
  background: #607D8B;
  border-radius: 50%;
}



/*Animation*/

@keyframes suns {
  0% {
    transform: rotate(0deg);
  }

  100% {

    transform: rotate(360deg);
  }
}

@keyframes lds-gear {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop {
  0% {
    top: 0;
    right: 0;
  }

  10% {
    top: 0;
    right: -10px;
  }

  100% {
    top: 200px;
    right: -10px;
  }
}

@keyframes drop1 {
  0% {
    top: 0;
    right: 0;
  }

  10% {
    top: 0;
    right: -20px;
  }

  30% {
    right: -10px;

  }

  100% {
    top: 300px;
    right: 0;
  }
}

@keyframes drop2 {
  0% {
    top: 0;
    right: 0;
  }

  10% {
    top: 0;
    right: -20px;
  }

  100% {
    top: 400px;
    right: -30px;
  }
}

@keyframes drop3 {
  0% {
    top: 0;
    right: 0;
  }

  10% {
    top: 0;
    right: -10px;
  }

  60% {
    right: 0px;
  }

  100% {
    top: 500px;
    right: -20px;
  }
}