doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
  body
    block content
    script(src='/javascripts/particles.min.js')
    script(src='/javascripts/app.js')
