extends layout

block content

  #ther
    .box
      #particles
      img(src='/images/cloud.png')
      span#xTher 30 
      span °C
      #slider
        input#range(type='range', min='0', max='50' value='30')
  #dia
    .box
      #pp.pointer
      #pt.pointer
      #lp.label
        strong μ
        sub Mực Nước
        span (
        span#xP 500
        span ) = 
        span#yP (0, 1, 0)
      #lt.label
        strong μ
        sub Nhiệt Độ
        span (
        span#xT 30
        span ) = 
        span#yT (0, 1, 0)
      //- #lv.label
      //-   strong μ
      //-   sub Góc mở van
      //-   span (
      //-   span#xV 500
      //-   span ) = 
      //-   span#yV (0, 1, 0)
  #log
    .box
      .lline
      #lcontent

  #pool
    .box
      .pline
      #water
        #gamePointLabel 12
        #wl 500 lít
      #pipe
        .box
          .source
          //- valve accept class .o0 .o1 .o2 .o3 as 4 speed
          #valve.o3
            #vl 100%
            .lds-gear
              div#gear
                div
                div
                div
                div
                div
                div
          #blobBox
            .blob.blob-d
            .blob.blob-d1
            .blob.blob-d2
            .blob.blob-d3
            .blob.blob-d4
            .blob.blob-d5
            .blob.blob-d6
      #gameBox
        #foodBox
        #fish 🐠

        
