extends layout

block content
  #ther
    .box
      span 100 °C
  
  #pool
    .box
      #water
        
  #pipe
    .box
      #valve
      #blobBox
        .blob.blob-d
        .blob.blob-d1
        .blob.blob-d2
        .blob.blob-d3
        .blob.blob-d4
        .blob.blob-d5
        .blob.blob-d6
